.contenedorForm{
    width: 100%;
}
.formContacto{
    max-width: 400px;
    margin: 0 auto;
}
main{
    width: 95%;
}
input[type="search"]{
    width: 100px;
    font-size: .9em;
}
#slidebox{
    height: 300px;
}
#slidebox, #slidebox ul li{
    min-width: 280px;
    font-size: .8em;
}
#slidebox ul li{
    padding: 1px 1px;
}
#slidebox p{
    bottom: 25%;
}
#slidebox h2{
    bottom: 0;
}
.lomas{
    font-size: 1em;
}