button.ham{
    visibility: visible;
    cursor:pointer;
    position: absolute; 
    top:20px;
    left:40vw;
    transition: 0.2s  0.1s; 
}
.menu{
    flex-direction: column;
    justify-content: space-around;   
    height: 80vh;         
    margin-top:120px;
    padding:0; 
    display:none;
    opacity:0;
    transition: opacity 5s ease-out;
    overflow: hidden;
}
.menu > li{
    border: 2px solid #000;
    width: 100%;
}
.menu .submenu{
    display: none;
    position: initial;
    padding: 0;
    background-color: inherit;
    box-shadow: 0 0 0 0;
    width: 100%;
    z-index: 0;
    margin-top: 20px;
}
.menu .submenu li{
    width: 100%;
}
.menu .mas{
    float: right;
    font-size: 1.8em;
}
.banner h1, .banner p{
    max-width: 100%;
    font-size: 1.5em; 
}
#slidebox ul{
    width: 100%;
}
#slidebox p{
    top: 50%;
    height: fit-content;
}
#slidebox h2{
    top: 60%;
    height: fit-content;
}
.noticias article{
    min-height: 300px;
}
.noticias article h2{
    font-size: 1.2em;
}
section, .ultimos{
    margin-bottom: 60px;
}
.lomas ol{
    column-count: 1; 		
}
.lomas ol a{
    font-size: .8em;
}
footer{
    display: block;
}
footer span{
    display: block;
    width: fit-content;
    margin: 0 auto;
}
footer div{
    width: fit-content;
    margin: 10px auto 10px auto;
}
.formContacto{
    max-width: 70%;
}