html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    min-height: 100vh;
    background-image: url("../imagenes/bosque1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header{
    background: linear-gradient(#4CAF50, #70CDCB);		
    padding: 15px;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 100px;
    padding-top: 10px;
}

#logotipo{
    width: 100px;
    
}

.logo{
    position: absolute;
    top: 15px;
}

h1{
    font-size: 3rem;
}

a{
    text-decoration: none;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

main{
    width: 85%;
    min-height: 80vh;
    margin: 10px auto;
    padding: 1.3em;
    border: 2px solid black;
    overflow: hidden;
    background-color: #fff;
}

/* BANNER */

.banner{
    height: 300px;
    background-image: url("../imagenes/sendero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}
.banner h1, .banner p{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: contrast(60%);
    position: absolute;
    max-width: 30%;
    padding: .3em;
}
.banner h1{		
    top: 0;
    left: 0;	
    margin-top: 0;
    font-size: 3em;
}
.banner h1::first-letter{
    font-size: 5rem;
}
.banner p{	
    bottom: 0;
    right: 0;	
    margin-bottom: 0;	
    font-size: 2em;	
}


/* MENU DE NAVEGACIÓN */

.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu > li{
    padding: 20px;
    position: relative;
}

.menu > li > a{
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}

.menu .mas{
    font-size: 1.7em;
    font-weight: 900;
    color: white;
    margin-left: 5px;
}

.menu .submenu{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu li{
    width: 200px;
    list-style-type: none;	
    border: 1px solid #000;	
}

.submenu li a{
    padding: 10px 20px;
    display: block;
}

.submenu li a:hover{
    color: #000;
    text-shadow: 3px 3px 5px #000;
}

.submenu li a span{
    display: inline-block;
    position: relative;
}

.menu li:hover{
    cursor: pointer;
}

.capaSubmenus{
    display: none;
    width: 50%;
    min-height: 85vh;
    position: absolute;
    top: 135px;
    right: 0;
    border: 1px solid #000;
}

/* BÚSQUEDA */

input[type="search"]{
    height: 35px;
    width: 170px;
    font-size: 1.2em;
    vertical-align: super;
    border-radius: 20px;
    padding: 5px;
    padding-right: 35px;
    float: right;
}

button{
    cursor: pointer;
    background: none;
    border: none;
    float: right;
}

#lupa{
    position: absolute;
    top: 12px;
    right: 12px;
}

button:hover{
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}

button > img{
    width: 30px;
    height: 30px;
}

.bx{
    font-size: 30px;
    cursor: pointer;
}

/* ICONOS BLOG Y TIENDA */

#tienda{
    float: right;
    position: absolute;
    top: 50px;
    right: 10px;
}

#blog{
    float: right;
    position: absolute;
    top: 50px;
    right: 60px;
}

/* BOTON HAMBURGUESA */

button.ham{
    visibility: hidden;
    background-color:transparent;
    cursor: pointer;
    border:none;
    margin:0;
    padding: 5px;
}

button.ham span:not(:last-child){
    background-color: #f3f3f3;
    display:block;
    height:3px;
    width: 28px;
    margin:10px auto;
    border-radius:2px; 
}

/* NOTICIAS */

.noticias .contain{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5rem;	
    padding: 10px;
}
.noticias article{
    border-radius: 10px;
    padding: 10px;
    background-color: #cccc99;
}
.noticias article img, .categorias article img{
    margin: 0 auto;
    width: 90%;
    height: 65%;
    object-fit: cover;
    display: block;
    border: 5px solid #000;
}

/* ARTICULOS */

.articulos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;	
    gap: 1.5rem;
}
.articulos article{
    border-radius: 10px;
    background-color: #cccc99;
    border: 1px solid #000;
    position: relative;
    
}
.articulos article h3{
    padding-left: 10px;
    text-decoration: underline;
    font-size: 1.3em;
}
.articulos article img{
    width: 90%;
    height: 75%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    
}

.articulos article p{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: contrast(20%);
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 90%;
    font-size: 1.4em;
}
.articulos article a{
    color: yellow;
}
.articulos a:hover img{
    opacity: 0.7;
}
.lomas{
    grid-column: 1/-1;
    border: 2px solid #000;
    align-self: center;
    font-size: 1.4em;
}
.lomas ol{
    column-count: 3; /* Divido la lista en 3 columnas */		
}
.lomas li a{
    color: #333;
}

/* LIBROS */

.libros{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-items: center;
}
.libros a:hover img{
    transform: scale(1.1);
}
.libros img{
    width: 200px;
    
}

/* CATEGORIAS */

.categorias{
    overflow: hidden;
}
.categorias h2{
    font-size: 2.5em;
    width: fit-content;
    margin: 0 auto;
}
.categorias p, ol{
    font-size: 1.3em;
}
.categorias .contain{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;	
    padding: 10px;
}
.categorias .contain img{
    border: 10px ridge #cccc99;
    width: 50%;
    height: 20%;
    max-width: 400px;
}

/* ARTICULOS */

section.articulo h1, p.fechaArt{
    width: fit-content;
    margin: 20px auto;
}
section.articulo img{
    max-width: 90%;
    display: block;
    margin: 0 auto;
}
section.articulo article p:not(.fechaArt){
    text-indent: 35px;
    font-size: 1.4em;
}

/* PIE DE PAGINA */

footer{
    background: linear-gradient(#70CDCB, #4CAF50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem;
}
footer a{
    color: #0066ff;
    font-size: 1.2em;
    font-weight: 900;
    margin-right: 10px;
}
footer a:hover, .noticias a:hover, .lomas li a:hover, .menu > li:first-child a:hover, .menu > li:last-child a:hover{
    color: #000;
    text-decoration: underline;
}

/* FORMULARIO DE CONTACTO */

.contenedorForm{
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/tisana-contacto.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 70%;
    min-height: 70vh;
    margin: 20px auto 20px auto;
    border: 1px solid black;
}
.tituloForm{
    width: fit-content;
    margin: 20px auto 20px auto;
}
.formContacto{
    max-width: 400px;
    margin: 20px auto 20px auto;
    font-size: 1.3em;
    border: 5px solid #ccc;
    color: #fff;
    padding: 20px;
    overflow: hidden;
}
.formContacto label,input,button:not(.requerido){
    display: block;
}
.formContacto p{
    display: inline-block;
}
.formContacto input{
    float: left;
    margin-right: 10px;
    width: 85%;
    height: 40px;
    margin-bottom: 20px;
    font-size: .9em;
}
textarea{
    width: 90%;
    font-size: .9em;
}

/* Captcha */
#codigo{
    margin-top: 20px;
}
.contenidoCaptcha{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.captcha{
    width: fit-content;
    font-size: 1.2em;
    border: 2px solid #fff;
    padding: 10px;
}
input[type="number"]{
    width: 20%;
    font-size: .8em;
}
.formContacto img{
    width: 20px;
    height: 20px;
}
/* --- */

input:focus, textarea:focus{
    background-color: lightblue;
}
.formContacto .botones{
  display: flex;
  justify-content: center;
}
.requerido{
    color: red;
    font-size: 1.3em;
}

.formContacto button{
    background-color: #577B99;
    border: 2px solid #000;
    padding: 10px;
    font-size: 1.2em;
    float: left;
    margin-right: 10px;
}
.formContacto button[type="button"]:hover{
    background-color: green;
}
.formContacto button[type="reset"]:hover{
    background-color: red;
}
.check{
    opacity: 0;
}

/* --------------------------- */

.iconos:hover{
    filter: drop-shadow(1px 1px 5px #000);
}

/* Botón de subida */
.arriba{
    position: fixed;
    top: 85vh;
    right: 0;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #000;
    padding: 10px;
}

/* Botón y panel derecho */
.btnPanel, .panelDcho{
    position: fixed;
    z-index: 10;
    background-color: #fff;
}
.btnPanel{
    width: 45px;
    top: 15vh;
    right: 0;
    border-radius: 20%;
    border: 3px solid #000;
}
.btnPanel:hover{
    cursor: pointer;
}
.panelDcho{
    width: 300px;
    padding: 20px;
    font-size: 1.1em;
    background-color: #cccc99;
    border: 3px solid #000;
    border-radius: 10%;
    top: 25vh;
    right: -300px;
}

#construccion{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

@keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
}
.menu.activado{
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}
.br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
}
.br-2.animado{
    opacity: 0;
}
.br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
}